@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="title">
        <h1>Welcome Season 134 Trombones!</h1>

        Welcome to the new UMMB Trombone webapp. Here you find important announcements, game placements, pregame dots, and forms.
    </div>
</div>