@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1 style="text-align: center; margin-top: 20px;">Welcome to Season 134 Bones!</h1>
    <p style="text-align: center;"><strong>Welcome to the new UMMB Trombone webapp. Here you find important announcements, game placements, pregame dots, and forms.</strong></p>

    <img src="img/trombone-splash.jpg" alt="UMMB Trombones" class="splash">    
</div>