@page "/pregame-placements"
@inject HttpClient Http

<PageTitle>Pregame Placements</PageTitle>

<div style=" width 100%; display: flex; flex-direction: column; align-items: center; gap: 10px;">
    <h1>Pregame Placements for:</h1>
    <img class="game-banner" src="img/GameBanners/bulls.jpg" alt="Gophers VS Bulls">

    @if (bandMembers == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>First Name:</th>
                    <th>Last Name:</th>
                    <th>Placement:</th>
                    <th>Leader:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bandMember in bandMembers)
                {
                    <tr>
                        <td>@bandMember.FirstName</td>
                        <td>@bandMember.LastName</td>
                        <td>@bandMember.Placement</td>
                        <td>@bandMember.Leader</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private BandMember[]? bandMembers;

    protected override async Task OnInitializedAsync()
    {
        bandMembers = await Http.GetFromJsonAsync<BandMember[]>("data/pg.json");
    }

    public class BandMember
    {
        public required string FirstName { get; set; }

        public required string LastName { get; set; }

        public required string Placement { get; set; }

        public required string Leader { get; set; }
    }
}
