<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img class="navbar-brand" href="" src="img/Minnesota-Bones.png">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">
                    <img src="img/icons/home.svg" alt="Home" class="icon" />
                    Home
                </span> 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="announcements">
                <span aria-hidden="true">
                    <img src="img/icons/bullhorn-megaphone.svg" alt="Announcements" class="icon" />
                    Announcements
                </span> 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pregame-placements">
                <span aria-hidden="true">
                    <img src="img/icons/flag.svg" alt="Pregame" class="icon" />
                    Pregame Placement
                </span>             
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pride-sky">
                <span aria-hidden="true">
                    <img src="img/icons/football-ball.svg" alt="Pride/Sky" class="icon" />
                    Pride Pit / Skybox
                </span>             
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seating">
                <span aria-hidden="true">
                    <img src="img/icons/dining-chair.svg" alt="Seating" class="icon" />
                    Seating Charts
                </span>             
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="forms-links">
                <span aria-hidden="true">
                    <img src="img/icons/documents.svg" alt="Forms&Links" class="icon" />
                    Forms & Links
                </span>             
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="border: solid rgb(230, 150, 255) 2px;" href="https://discord.com/channels/1368656847304786103" target="_blank" rel="noopener noreferrer">
                <span aria-hidden="true">
                    <img src="img/icons/discord.svg" alt="Discord" class="icon" style="filter: invert(100%);" />
                    Season 134 Discord
                </span>             
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="border: solid rgb(255, 160, 119) 2px;" href="https://instagram.com/umnbones" target="_blank" rel="noopener noreferrer">
                <span aria-hidden="true">
                    <img src="img/icons/instagram.svg" alt="Instagram" class="icon" style="filter: invert(100%);" />
                    umnbones Instagram
                </span>             
            </NavLink>
        </div>
    </nav>
    <div class="sidebar-footer text-muted text-center px-3 py-2" style="font-size: 0.75rem;">
        © Brenen Olson (2025). All rights reserved.
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
